.toc-btn{
  position: fixed;
  background-color: #eee;
  border-radius: 40%;
  padding: 15px;
  cursor: pointer;
}
.toc-headline{
  margin-bottom: 10px;
  font-size: 20px !important;
}
.toc-body{
  position:fixed;
  z-index: 1000;
  animation-duration: 0.5s;
  border-radius: 10px;
  padding: 10px;
  background-color: rgba(255,255,255,0.8);
  width: 300px;
  height: 450px;
  box-shadow: 0 0 15px #666;
  display: none;
  padding-bottom: 15px;
}
.toc-ul{
  height: 90%;
  opacity:0.8 !important;
  overflow-y: scroll;
  overflow-x: none;
  word-break:break-all;
  margin-right: 10px;
}
.toc-ul::-webkit-scrollbar {
  width: 8px;
  height: 0;
}
.toc-ul::-webkit-scrollbar-track-piece {
  background: #aaa;
}
.toc-ul::-webkit-scrollbar-thumb {
  background-color: #1E90FF;
  background-image:-webkit-linear-gradient(45deg, rgba(50,205,50) 25%, transparent 25%, transparent 50%, rgba(50,205,50) 50%, rgba(    50,205,50) 75%, transparent 75%, transparent);
}
.toc-li-H1,.toc-li-H2,.toc-li-H3,.toc-li-H4,.toc-li-H5,.toc-li-H6{
  list-style: none;
}
.toc-li-H1{
  margin-left: -30px;
}
.toc-li-H2{
  margin-left: -20px;
}
.toc-li-H3{

  margin-left: -20px;
}
.toc-li-H4{
  margin-left: -10px;
}
.toc-li-H5{
  margin-left: -10px;
}
.toc-li-H6{
  margin-left: -10px;
}
.toc-percentage:before{
  position: absolute;
  top: 10px;
  right: 10px;
  display: block;
  font-weight: bold;
  content: attr(percentage);
  font-size: 25px !important;
  font-style: italic;
  color: #a9a9a9;
}
.toc-ul a{
  width: 100%;
  display: block;
  text-decoration: none;
  color: #000;
  font-family: 'Verdana';
  font-size: 14px;
  padding: 5px 5px;
  border-radius: 15px;
}
.toc-ul .selected{
  background: #00c4b6;
  color: #fff;
}
.darkmode--activated .toc-body{
  background-color: rgba(0,0,0,0.8);
  color: #fff;
}
.darkmode--activated .toc-body a{
  color: #fff;
}
.darkmode--activated .toc-ul a{
  color: #fff; 
}
.darkmode--activated .toc-ul selected{
  color: #fff; 
}
